h3.
  Your Detector Browser Profile
p.
  The following browser profile was created using <a href="https://github.com/ua-parser/ua-core">ua-parser</a>. This information
  is derived solely from the user agent string for your browser.

table.zebra-striped.span9
  thead
    tr
      th(colspan='2') Browser Properties
  tbody
    tr
      th.col-xs-3 User Agent:
      td UA
    tr
      th.col-xs-3 Browsername
      td Browsername
    tr
      th.col-xs-3 Device
      td Device
    tr
      th.col-xs-3
      td Device
    tr
      th.col-xs-3 Is UIWebview?
      td n/a
    tr
      th.col-xs-3 Is Mobile?
      td n/a
    tr
      th.col-xs-3 Is Mobile Device?
      td n/a
    tr
      th.col-xs-3 Is Tablet?
      td n/a
    tr
      th.col-xs-3 Is Computer?
      td n/a
    tr
      th.col-xs-3 Is Spider?
      td n/a

p
  strong.
    Something wrong with this profile?
  != ' Please, '
  a(href='/contact') let me know.
  != ' Note that the '
  strong.
    "tablet" classification may be incorrect
  != ' for those Android tablets using an OS older than Android 3.0.'
