h3.row.
  Your Detector Browser Profile
p.row.
  The following browser profile was created using <a href="https://github.com/mimmi20/browscap-js">browscap-js</a>. This information
  is derived solely from the user agent string for your browser.

div.row
  span.text-center.clearfix Browser Properties
  div.clearfix
    div.col-xs-6.col-sm-4.col-md-2.col-lg-2.col-xl-2.text-right User Agent:
    div.col-xs-6.col-sm-8.col-md-10.col-lg-10.col-xl-10 UA
  div.clearfix
    div.col-xs-6.col-sm-4.col-md-2.col-lg-2.col-xl-2.text-right Browsername:
    div.col-xs-6.col-sm-8.col-md-10.col-lg-10.col-xl-10 Browsername
  div.clearfix
    div.col-xs-6.col-sm-4.col-md-2.col-lg-2.col-xl-2.text-right Device:
    div.col-xs-6.col-sm-8.col-md-10.col-lg-10.col-xl-10 Device
  div.clearfix
    div.col-xs-6.col-sm-4.col-md-2.col-lg-2.col-xl-2.text-right Is UIWebview?
    div.col-xs-6.col-sm-8.col-md-10.col-lg-10.col-xl-10 n/a
  div.clearfix
    div.col-xs-6.col-sm-4.col-md-2.col-lg-2.col-xl-2.text-right Is Mobile?
    div.col-xs-6.col-sm-8.col-md-10.col-lg-10.col-xl-10 n/a
  div.clearfix
    div.col-xs-6.col-sm-4.col-md-2.col-lg-2.col-xl-2.text-right Is Mobile Device?
    div.col-xs-6.col-sm-8.col-md-10.col-lg-10.col-xl-10 n/a
  div.clearfix
    div.col-xs-6.col-sm-4.col-md-2.col-lg-2.col-xl-2.text-right Is Tablet?
    div.col-xs-6.col-sm-8.col-md-10.col-lg-10.col-xl-10 n/a
  div.clearfix
    div.col-xs-6.col-sm-4.col-md-2.col-lg-2.col-xl-2.text-right Is Computer?
    div.col-xs-6.col-sm-8.col-md-10.col-lg-10.col-xl-10 n/a
  div.clearfix
    div.col-xs-6.col-sm-4.col-md-2.col-lg-2.col-xl-2.text-right Is Spider?
    div.col-xs-6.col-sm-8.col-md-10.col-lg-10.col-xl-10 n/a

p
  strong.
    Something wrong with this profile?
  != ' Please, '
  a(href='/contact') let me know.
  != ' Note that the '
  strong.
    "tablet" classification may be incorrect
  != ' for those Android tablets using an OS older than Android 3.0.'
