h3.
  Your Detector Feature Profile
p.
  The following feature profile was primarily created using <a href="http://www.modernizr.com/docs/#s2">Modernizr's core tests</a>. The left column of results, <strong>Your Browser</strong>, is populated by JavaScript using a copy of Modernizr that is loaded with this page. The right column, <strong>Detector Profile</strong>, is populated by PHP using the profile created by Detector for your browser.
  In addition to the core tests
  I've added an extended test that checks for emoji support as well as a per request test to check the device pixel ratio. Both were added using the <a href="http://www.modernizr.com/docs/#addtest">Modernizr.addTest() Plugin API</a>.
  To learn more about core, extended, and per request tests please <a href="https://github.com/dmolsen/Detector">review the README</a>.  To access any of these options in your PHP app you'd simply type <code>$ua->featureName</code>.

table.zebra-striped.span9
  thead
    tr
      th(colspan='2') Feature Profile Properties
  tbody
    tr
      th.col-xs-3 coreVersion
      td This profile hasn't been versioned yet.
    tr
      th.col-xs-3 family:
      td
        span Feature family hasn't been set yet for this profile.
        div.featureNote.span9.
          <small><em>To learn more about families please <a href="https://github.com/dmolsen/Detector/wiki/Detector-Family-Tutorial">review the family tutorial</a>.</em></small>
