div.span10
  include ./_about.jade
  include ./_profileinfo.jade
  include ./_browserprofile.jade
  include ./_featureprofile.jade
  include ./_moreinfo.jade
  include ./_credits.jade
p Welcome to #{title}
  != Mobile
