extends layout

block headerscripts
  script(src='/javascripts/modernizr-custom-3.3.1.js' type='text/javascript')
  script(src='/javascripts/tests/battery-level.js' type='text/javascript')
  script(src='/javascripts/tests/breakpoint.desktop.js' type='text/javascript')
  script(src='/javascripts/tests/breakpoint.mobile.js' type='text/javascript')
  script(src='/javascripts/tests/breakpoint.tablet.js' type='text/javascript')
  script(src='/javascripts/tests/dpi.js' type='text/javascript')
  script(src='/javascripts/tests/json.js' type='text/javascript')
  script(src='/javascripts/tests/max-cookiedata-length.js' type='text/javascript')
  script(src='/javascripts/tests/network-connection.js' type='text/javascript')
  script(src='/javascripts/tests/overflowscrolling.js' type='text/javascript')
  script(src='/javascripts/tests/screenattributes.js' type='text/javascript')
  script(src='/javascripts/features.js' type='text/javascript')
block header
  <p>With the help of the awesome <a href="http://www.modernizr.com/">Modernizr</a> library, browscap.de gives you a quick overview of your browser’s support for recent technologies in the world of HTML, CSS and Javascript.</p>

block content
  div#features
    each featureGroup in capabilities.sections
      div.group.col-xs-12.col-sm-6.col-md-6.col-lg-4.col-xl-3
        div.features
          h1= featureGroup.title
          ul
            each feature in featureGroup.features
              li.feature
                span.title= feature.title
                span(data-capability= feature.name)
                if feature.subfeatures
                  ul.subfeatures
                    each subfeature in feature.subfeatures
                      li.feature
                        span.title= subfeature.title
                        span(data-capability= subfeature.name)

  script(src='/javascripts/jquery-1.12.4.min.js' type='text/javascript')
  script(src='/javascripts/show-capabilities-haz.js' type='text/javascript')

block footer
  footer.clearfix.col-xs-12
    p.
      Created by <a href="http://github.com/mimmi20/">Thomas Müller</a> as a nodeJs port of <a href="http://haz.io/">haz.io</a>.
      Powered by <a href="http://modernizr.com/">Modernizr 3</a>.
