extends layout

block content
  div.span10
    h3 About Detector
    p Detector dynamically creates profiles using a browser's (mainly) unique user-agent string as a key. Using <a href="http://modernizr.com/">Modernizr</a> it records the HTML5 & CSS3 features a requesting browser may or may not support.
    p With Detector a developer can serve the appropriate markup, stylesheets, and JavaScript to a requesting browser without being completely dependent on a front-end-only resource loader nor a browser-detection library being up-to-date.
    p <a href="https://github.com/dmolsen/Detector">Check out the README</a> for more information as well as the <a href="https://github.com/dmolsen/Detector">full list of features</a>.
  p Welcome to #{title}
