extends layout

block content
  div.col-xs-9
    p.
      With the initial release of <a href="http://yiibu.com/">Yiibu&apos;s</a> <a
          href="https://github.com/yiibu/profile">Profile</a>, <a href="https://github.com/dmolsen/Detector">Detector</a>
      is already <abbr title="Yet Another Browser- and Feature-Detection Library">YABFDL</abbr>
      <em>(Yet Another Browser- and Feature-Detection Library)</em>. Ever since I heard Yiibu's talk,
      <a href="http://www.slideshare.net/yiibu/adaptation-why-responsive-design-actually-begins-on-the-server">Adaptation</a>,
      the core concepts & features of Detector have been floating around in my head. I've finally turned those
      ideas into <a href="https://github.com/dmolsen/Detector">code</a> and created this demo.
      To learn more about <a href="https://github.com/dmolsen/Detector">Detector</a> and how it works please check
      out the <a href="https://github.com/dmolsen/Detector">README on GitHub</a>.
    include ./partials/_browserprofile.jade
    include ./partials/_featureprofile.jade
  p Welcome to #{title}
    != Desktop
  div.col-xs-3
    include ./partials/_about.jade
    include ./partials/_moreinfo.jade
    include ./partials/_credits.jade

  div(id='forkme')
    a(href='https://github.com/dmolsen/Detector')!= '<img src="/images/ForkMe_Wht.png" width="141" height="141" alt="Fork Me on GitHub"/>'

