doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    meta(name='description', content='')
    meta(name='author', content='')
    != '<!--[if lt IE 9]>'
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js' type='text/javascript')
    != '<![endif]-->'
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.min.css')
    block headerscripts
    link(rel='stylesheet' href='/stylesheets/screen.css' media='screen, projection')
    block styles
  body
    div.container-fluid
      header#header.col-xs-12.col-sm-11.col-md-10.col-lg-9.col-xl-9
        h1.logo!= 'browscap.de'
        block header
      a(id='forkme' href='https://github.com/mimmi20/detector-nodejs' title='Fork me on GitHub')
      block content
      block footer
