doctype html
html(lang='en')
  head
    title= Detector [BETA] - combined browser- & feature-detection for your app
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    ### mobile switch
    link(rel='stylesheet', href='/stylesheets/general.css')
  body
    block content