doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    meta(name='description', content='')
    meta(name='author', content='')
    != '<!--[if lt IE 9]>'
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js' type='text/javascript')
    != '<![endif]-->'
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/detector.css')
    script(src='/javascripts/modernizr-custom-3.3.1.js' type='text/javascript')
    script(src='/javascripts/features.js' type='text/javascript')
    script(type='text/javascript')
      != '/*document.write(JSON.stringify(result));/**/document.write(JSON.stringify(missing));'
  body
    div.container
      div.content.clearfix
        div.page-header.col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.clearfix
          h1
            a(href='/') Detector
            span.label.notice.beta beta
            small= ' combined browser- & feature-detection for your app '
          div(id='forkme')
            a(href='https://github.com/dmolsen/Detector')!= '<img src="/images/ForkMe_Wht.png" width="141" height="141" alt="Fork Me on GitHub"/>'

        div.row.clearfix
          block content
      footer.clearfix
        p
          != ' &copy; '
          a(href='http://dmolsen.com/') Dave Olsen
          != ' 2012 | Design based on '
          a(href='http://twitter.github.com/bootstrap/') Bootstrap
