html, body {
    background-color: #eee;
}

.container > footer p {
    text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.container > .content {
    background-color: #fff;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header, .row {
    padding: 2%;
    margin: 0;
}
.page-header {
    background-color: #f5f5f5;
}

.h1, h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

#forkme {
    position: absolute;
    top: 0;
    right: 0;
}

.beta{
    font-size:20px;
    vertical-align:bottom;
}

thead > tr > th{
    vertical-align:bottom;
}

thead > tr, div.alert-message{
    background-color:#efefef;
    background-image:none;
}

.featureNote{
    border:0;
    padding:0;
    margin:-5px 0 25px 4px;
    color:#666;
    font-size:13px;
}

.label {
    color: #000;
}
.table-striped > :nth-of-type(odd) {
    background-color: #e9e9e9;
}
.table-hover > :hover {
    background-color: #c5c5c5;
}

/*
.thead {
    display: table-header-group;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.tbody {
    display: table-row-group;
}
*/
.table .th {
    position: static;
    display: table-cell;
}
