body {
    line-height: 1;
    background-color: #82D200;
    color: #fff;
    -webkit-text-size-adjust: 100%
}

ol, ul {
    list-style: none
}

a {
    color: #3c5c0a;
    text-decoration: none
}

h1 {
    margin: 0;
}

a.spec:after {
    content: " ›";
    color: rgba(136, 135, 95, 0.5);
    text-transform: uppercase;
    font-size: 75%;
    text-shadow: none
}

a.spec:hover:after {
    content: "   Spec ›"
}

#header {
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
    float: none;
    height: 140px;
}

#forkme {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 141px;
    height: 141px;
    background: url('/images/ForkMe_Wht.png') top center no-repeat;
}

.logo {
    display: inline-block;
    width: 7em;
    height: 2em;
    /*background: url('/images/logo.png') top center no-repeat;*/
    text-align: center;
    vertical-align: text-bottom;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    background-color: #C9C8AD;
    padding: 20px;
    border-bottom-left-radius: .1em;
    border-bottom-right-radius: .1em;
    transform: rotate(-3.5deg);
    top: -10px;
    left: 23px;
    position: absolute;
    color: #989773;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px, rgba(0, 0, 0, 0.2) 0 -1px
}

#header p {
    text-align: left;
    margin-top: 5em;
    margin-left: 26em;
    text-shadow: rgba(0, 0, 0, 0.3) 0 1px;
    line-height: 1.4
}

#header p a {
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px
}

p.info {
    text-align: center
}

.group, .menu, .menu li {
    display: inline-block;
    margin: 0;
    padding: 1em;
}

.group {
    float: left;
}

.features {
    background-color: #E4E3CD;
    padding: 1em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px
}

.group h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: rgba(136, 135, 95, 0.7);
    letter-spacing: 1px;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px, rgba(0, 0, 0, 0.2) 0 -1px;
}

.features, .features a {
    color: #88875F
}

.features ul {
    margin: .5em;
    padding: 0;
}

.features li {
    position: relative;
    display: block;
    font-size: 1em;
    margin: 0 0 0.5em 0;
    vertical-align: middle;
}

.features li:last-child {
    border-bottom: 0
}

.features li .title, .features li .short-title {
    white-space: nowrap;
    padding: 0.1em 3em 0.1em 0;
    overflow: hidden;
    display: inline-block;
}

.features li .title {
    width: 100%;
}

.features li .short-title {
    width: 25%;
}

.features .support, .features .text-support {
    position: absolute;
    right: 0;
}

.features .support {
    text-align: right;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 1em;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px inset, rgba(255, 255, 255, 0.8) 0 -1px inset
}

.features .support.support-yes {
    background-color: #78b814;
    background-color: rgba(120, 184, 20, 0.9)
}

.features .support.support-no {
    background-color: #b83314;
    background-color: rgba(184, 51, 20, 0.9)
}

.features .support.support-maybe, .features .support.support-probably {
    background-color: #cfd12b;
    background-color: rgba(207, 209, 43, 0.9)
}

.subfeatures {
    margin-bottom: 0.5em;
    padding: .5em;
}

.subfeatures li {
    font-size: 80%;
    border: 0;
    margin-right: 0;
    padding: 0.1em 3em 0.1em 0;
    top: 0.5em;
}

footer {
    font-size: 12px;
    clear: both;
    text-align: center;
    line-height: 1.4;
    padding-top: 48px;
}

footer a {
    color: #54800e;
    text-decoration: none
}

#useragent {
    margin-bottom: 1em
}

#social {
    margin-top: 1em
}

#github-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0
}
